body{
	background: #232323;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.square{
	width: 30%;
	padding-bottom: 30%;
	background: purple;
	float: left;
	margin:1.66%;
	border-radius: 15%;
	transition: background 0.6s;

}

#container{
	width:600px;
	margin: 20px auto;
}

h1{
	text-align: center;
	background: steelblue;
	color: white;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
}

#colorDisp{
	font-size: 200%;
}


#stripe{
	background: white;
	height: 30px;
	text-align: center;
}

.selected{
	background: steelblue;
	color:white;
}

button{
	border: none;
	background:none;
	text-transform: uppercase;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	outline: none;
}

button:hover{
	color:white;
	background: steelblue;
}

#messageDisplay{
	display: inline-block;
	width: 20%
}